@import "../../../../sass/variables";

.barra-mis-clientes {
  background-color: $blancoPrimario;
  grid-column-start: 4;
  grid-column-end: 9;
  grid-row-start: 9;
  grid-row-end: 10;
  padding-top: 0.7%;
}

.letra-titulo {
  @include encabezado1($tamanioFuente: 25px);
  padding-left: 1%;
}

.letra-total-clientes {
  @include encabezado1($tamanioFuente: 25px);
  padding-left: 2%;
  font-weight: bold;
}

.letra-ganar-clientes {
  @include encabezado1($tamanioFuente: 25px);
  padding-left: 15%;
  font-weight: bold;
}

.letra-perder-clientes {
  @include encabezado1($tamanioFuente: 25px);
  padding-left: 5%;
  font-weight: bold;
}

.tamanio-imagen{
  width: 28px;
  height: $resolucion3_tamanio3;
}

@media screen and (min-width: 600px) {
  .letra-titulo {
    @include encabezado1($tamanioFuente: $resolucion1_tamanio1);
  }
  .letra-total-clientes {
    @include encabezado1($tamanioFuente: $resolucion1_tamanio1);
  }

  .letra-ganar-clientes {
    @include encabezado1($tamanioFuente: $resolucion1_tamanio1);
  }

  .letra-perder-clientes {
    @include encabezado1($tamanioFuente: $resolucion1_tamanio1);
  }
  .tamanio-imagen{
    width: 14px;
    height: $resolucion1_tamanio3;
  }
}
@media screen and (min-width: 1024px) {
  .letra-titulo {
    @include encabezado1($tamanioFuente: $resolucion2_tamanio1);
  }
  .letra-total-clientes {
    @include encabezado1($tamanioFuente: $resolucion2_tamanio1);
  }

  .letra-ganar-clientes {
    @include encabezado1($tamanioFuente: $resolucion2_tamanio1);
  }

  .letra-perder-clientes {
    @include encabezado1($tamanioFuente: $resolucion2_tamanio1);
  }
  .tamanio-imagen{
    width: 20px;
    height: $resolucion2_tamanio3;
  }
}
@media screen and (min-width: 1280px) {
  .letra-titulo {
    @include encabezado1($tamanioFuente: $resolucion3_tamanio1);
  }
  .letra-total-clientes {
    @include encabezado1($tamanioFuente: $resolucion3_tamanio1);
    padding-left: 2%;
    font-weight: bold;
  }

  .letra-ganar-clientes {
    @include encabezado1($tamanioFuente:$resolucion3_tamanio1);
    padding-left: 15%;
    font-weight: bold;
  }

  .letra-perder-clientes {
    @include encabezado1($tamanioFuente: $resolucion3_tamanio1);
    padding-left: 5%;
    font-weight: bold;
  }
  .tamanio-imagen{
    width: 28px;
    height: $resolucion3_tamanio3;
  }
}
