@import "../../../../sass/variables";

.happy-momments-container{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: right;
}

.part-1{
  margin-right: $tamanio4;
  height: $tamanio4;
  @media screen and (min-width:600px) {
    margin-right: $resolucion1_tamanio4;
    height: $resolucion1_tamanio4;
  }
  @media screen and (min-width:1024px) {
    margin-right: $resolucion2_tamanio4;
    height: $resolucion2_tamanio4;
  }
  @media screen and (min-width:1280px) {
    margin-right: $resolucion3_tamanio4;
    height: $resolucion3_tamanio4;
  }
}

.part-2{
  color: $fuenteRoja;
  font-weight: bold;
}

.part-4{
  color: $fuenteNegra;
  font-weight: bold;
  font-style: italic;
}
