<div id="container" class="alertas" [ngClass]="{'alertasExpandir': sAlertasExpandir === true }">
  <a id="iconoExp" (click)="cambiaComponenteAlertas()" class="maximizar">
    <img class="max-min" src="{{sAlertasIconoMinimizar}}">
  </a>
  <img class="campana" src="assets/img/campana.png">
  <div class="atit">
    Alertas
  </div>
  <div>
    <ul>
      <li class="bolaGris"></li>
      <li class="importante"><b>Cambio de Originación Italika</b></li>
      <li class="circulo">La solicitud 115576 ha sido autorizada</li>
      <li class="circulo">La solicitud 123145 ha sido autorizada</li>
      <li class="circulo">La solicitud 134347 ha sido autorizada</li>
      <li class="bolaGrisFinal"></li>
    </ul>
  </div>
</div>
