<div class="objetivos">
  <div class="tabs">
    <select class="lineas">
      <option value="Total">Total</option>
      <option value="Accesorios">Accesorios</option>
      <option value="Computo">Computo</option>
      <option value="Electronica" selected="selected">Electronica</option>
      <option value="Entretenimiento">Entretenimiento</option>
      <option value="Linea Blanca">Linea Blanca</option>
      <option value="Motocicletas Y Accesorios">Motocicletas Y Accesorios</option>
      <option value="Muebles">Muebles</option>
      <option value="Prestamos Personales">Prestamos Personales</option>
      <option value="Telefonia">Telefonia</option>
      <option value="Transporte/nvos Negocios">Transporte/nvos Negocios</option>
    </select>
    <a href="#" class="mtlink hoy">Objetivo hoy</a>
    <a href="#" class="mtlink semanal on">Objetivo semanal</a>
  </div>
  <div class="linea impar">
    <span>Electr&oacute;nica</span>
  </div>
  <div class="headRow">
    <div class="divCell2">Total</div>
    <div class="divCell3">Cr&eacute;dito</div>
    <div class="divCell4">Contado</div>
  </div>
  <div class="divRow1 impar">
    <div class="divCell1">Objetivo</div>
    <div class="divCell2">$84,000</div>
    <div class="divCell3">$50,400</div>
    <div class="divCell4">$33,600</div>
  </div>
  <div class="divRow2">
    <div class="divCell1">Lo que llevo</div>
    <div class="divCell2">$70,000</div>
    <div class="divCell3">$28,000</div>
    <div class="divCell4">$42,000</div>
  </div>
  <div class="divRow3 impar">
    <div class="divCell1">Me falta</div>
    <div class="divCell2 n">$14,000</div>
    <div class="divCell3 n">$22,400</div>
    <div class="divCell4 n">$8,400</div>
  </div>
  <div class="avance">
    <div class="txtAvance1">Mi avance &nbsp;</div>
    <div class="progress">
      <div class="bar anima degradado al90"></div>
    </div>
    <div class="txtAvance2">&nbsp; 90%</div>
  </div>
</div>
