@import "../../../../sass/variables";
@import "../../../../sass/minins";

.objetivos {
  background-color: $blancoPrimario;
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 8;
  display: grid;
  grid-template-columns: 3% 30% 4% 30% 30% 3%;
  grid-template-rows: 2% 13% 2% 14% 13% 13% 13% 13% 2% 13% 2%;

  @include borderRadius(2px, 2px, 2px, 2px);

  font-size: $tamanio4;
  @media screen and (min-width: 600px) {
    font-size: $resolucion1_tamanio4;
  }
  @media screen and (min-width: 1024px) {
    font-size: $resolucion2_tamanio4;
  }
  @media screen and (min-width: 1280px) {
    font-size: $resolucion3_tamanio4;
  }
}

.tabs {
  grid-column: 2 / span 4;
  grid-row: 2 / span 1;
  display: grid;
  grid-template-columns: 33% 1% 33% 33%;
}

select {
  font-size: $tamanio4;
  @media screen and (min-width: 600px) {
    font-size: $resolucion1_tamanio4;
  }
  @media screen and (min-width: 1024px) {
    font-size: $resolucion2_tamanio4;
  }
  @media screen and (min-width: 1280px) {
    font-size: $resolucion3_tamanio4;
  }
}

.lineas {
  grid-column: 1 / span 1;
}

.hoy {
  grid-column: 3 / span 1;
}

.semanal {
  grid-column: 4 / span 1;
}

.linea {
  grid-column: 2 / span 4;
  grid-row: 4 / span 1;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 30% 70%;
}

.linea span {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  text-align: center;
  font-weight: bold;
  color: $fuenteNegra;
}

.headRow {
  grid-column: 2 / span 4;
  grid-row: 5 / span 1;
  font-weight: bold;
  color: $fuenteNegra;
}

.divRow1 {
  grid-column: 2 / span 4;
  grid-row-start: 6;
  grid-row-end: 7;
}

.divRow2 {
  grid-column: 2 / span 4;
  grid-row-start: 7;
  grid-row-end: 8;
}

.divRow3 {
  grid-column: 2 / span 4;
  grid-row-start: 8;
  grid-row-end: 9;
}

.avance {
  grid-column: 2 / span 4;
  grid-row: 10 / span 1;
  display: grid;
  grid-template-rows: 30% 70%;
  grid-template-columns: 14% 80% 6%
}

.headRow,
.divRow1,
.divRow2,
.divRow3 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 30% 70%;
}

.divCell1 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.divCell2 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  text-align: center;
}

.divCell3 {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
  text-align: center;
}

.divCell4 {
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
  text-align: center;
}

.mtlink {
  text-decoration: none;
  border-radius: 3px;
  text-align: center;
  background-color: $grisPrimario2;
  color: #606060;

  padding-top: $tamanio6;
  @media screen and (min-width: 600px) {
    padding-top: $resolucion1_tamanio6;
  }
  @media screen and (min-width: 1024px) {
    padding-top: $resolucion2_tamanio6;
  }
  @media screen and (min-width: 1280px) {
    padding-top: $resolucion3_tamanio6;
  }
}

.on {
  background-color: $rojoPrimario;
  color: $blancoPrimario;
  pointer-events: none;
}

.impar {
  background-color: $grisPrimario3;
}

.n {
  font-weight: bold;
  color: $fuenteNegra;
}

.txtAvance1,
.txtAvance2 {
  color: $fuenteNegra;
  font-weight: bold;
  white-space: nowrap;
}

.txtAvance1 {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
}
.txtAvance2 {
  grid-row: 2 / span 1;
  grid-column: 3 / span 1;
}

.progress {
  overflow: hidden;
  background-color: #e4e4e4;
  border-radius: 5px;
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;

  height: $tamanio4;
  @media screen and (min-width: 600px) {
    height: $resolucion1_tamanio4;
  }
  @media screen and (min-width: 1024px) {
    height: $resolucion2_tamanio4;
  }
  @media screen and (min-width: 1280px) {
    height: $resolucion3_tamanio4;
  }
}

.bar {
  background-color: #39c969;
  height: 17px;
  background-size: 100% 100%;
  background-image: url();
  width: 90%;
}

.anima {
  -webkit-animation-duration: 1.9s;
  animation-duration: 1.9s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.degradado.al90 {
  background: #3dc46a;
  background: -moz-linear-gradient(90deg, #fc3b33 0%, #b9cd00 50%, #3dc46a 100%);
  background: -webkit-gradient(
    left,
    right,
    color-stop(0%, #fc3b33),
    color-stop(50%, #b9cd00),
    color-stop(100%, #3dc46a)
  );
  background: -webkit-linear-gradient(90deg, #fc3b33 0%, #b9cd00 50%, #3dc46a 100%);
  background: -o-linear-gradient(90deg, #fc3b33 0%, #b9cd00 50%, #3dc46a 100%);
  background: -ms-linear-gradient(90deg, #fc3b33 0%, #b9cd00 50%, #3dc46a 100%);
  background: linear-gradient(90deg, #fc3b33 0%, #b9cd00 50%, #3dc46a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc3b33', endColorstr='#3dc46a', GradientType=1 );
}
