@import "../../../../../sass/variables";

.con-pedido{
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 15;
  grid-row-end: 16;
}

.overview-container:hover .overview-header{
  border-bottom: 2px solid $withOrder;
}

.overview-header .count{
  color: $withOrder;
}
