@import "../../../../../sass/variables";

.promociones{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 15;
  grid-row-end: 16;
}

.overview-container:hover .overview-header{
  border-bottom: 2px solid $promotions;
}

.overview-header .count{
  color: $promotions;
}
