@media screen and (min-width:1024px) {
  #header, #title, #menu {
    flex: 0 1 46px;
  }
  #header, #title {
    padding-left: 11.5px;
  }
  #title, #menu a{
    padding-top: 11.5px;
  }
  h1 {
    font-size: 23px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  h4,button {
    font-size: 16px;
  }
  body {
    font-size: 15px;
  }

}
