@media screen and (min-width:800px) {
  #header, #title, #menu {
    flex: 0 1 42px;
  }
  #header, #title {
    padding-left: 10.5px;
  }
  #title, #menu a {
    padding-top: 10.5px;
  }
  h1 {
    font-size: 21px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  h4, button {
    font-size: 14px;
  }
  body {
    font-size: 13px;
  }

}
