@import "variables";

@mixin txt_descrip_navega($tamanioFuente: $tamanio5){
  font-size: $tamanioFuente;
}

@mixin center_vertical_div {
  display: table-cell;
  vertical-align: middle;
}

@mixin tbl_div {
  display: table;
}

@mixin borderRadius($topLeft, $topRight, $bottomRight, $bottomLeft) {
  border-radius: $topLeft $topRight $bottomRight $bottomLeft;
  -moz-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
  -webkit-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
}
