// Colores Primarios

$rojoPrimario: #DC1E34;
$negroPrimario: #333333;
$grisPrimario: #606060;
$grisPrimario2: #E9EAED;
$grisPrimario3: #F6F6F6;
$blancoPrimario: #FFFFFF;

// Colores Secundarios

$rojoSecundario: #EC008B;
$moradoSecundario: #A889E9;
$azulSecundario: #00B5EF;
$naranjaSecundario: #FF9C00;
$verdeSecundario: #82DCA0;
$amarilloSecundario: #FFD800;

// Colores especificos de modulos
$pendingSupply: #EE1894;
$applications: #863CE7;
$budgets: #22ADDC;
$promotions: #FE9C00;
$withOrder: #999800;
$withoutOrder: #38C968;

// Tipografía
$fuente: 'Lato', 'Arial', 'Serif', 'Semibold';

// Valores por default para una resolucion muy pequeña menor a 600px
$tamanio1: 21px; // 100%
$tamanio2: 18px; // 85.71
$tamanio3: 16px; // 76.19
$tamanio4: 14px; // 66.67
$tamanio5: 13px; // 61.9
$tamanio6: 12px; // 57.14

// Resolucion de 600px a 1023px de ancho
$resolucion1_tamanio1: 8px; // 100%
$resolucion1_tamanio2: 6.86px; // 85.71
$resolucion1_tamanio3: 6.09px; // 76.19
$resolucion1_tamanio4: 5.33px; // 66.67
$resolucion1_tamanio5: 4.95px; // 61.9
$resolucion1_tamanio6: 4.57px; // 57.14

// Resolucion de 1024px a 1279px de ancho
$resolucion2_tamanio1: 14px; // 100%
$resolucion2_tamanio2: 11.99px; // 85.71
$resolucion2_tamanio3: 10.67px; // 76.19
$resolucion2_tamanio4: 9.33px; // 66.67
$resolucion2_tamanio5: 8.67px; // 61.9
$resolucion2_tamanio6: 7.99px; // 57.14

// Reolucion mayor a 1279px de ancho
$resolucion3_tamanio1: 21px; // 100%
$resolucion3_tamanio2: 18px; // 85.71
$resolucion3_tamanio3: 16px; // 76.19
$resolucion3_tamanio4: 14px; // 66.67
$resolucion3_tamanio5: 13px; // 61.9
$resolucion3_tamanio6: 12px; // 57.14

$fuenteNegra : #4B4B4B;
$fuenteRoja : #DB1E34;
$fuenteGris : #747474;
$fuenteGris2: #878787;

$tipoLinea1: solid;


@mixin encabezado1($color: $negroPrimario, $tamanioFuente: $resolucion3_tamanio1){
  color: $color;
  font-size: $tamanioFuente;
}

@mixin borderTop($color: $rojoPrimario, $tamanioBorde: $resolucion3_tamanio6, $tipoLinea: $tipoLinea1){
  border-top: $color $tamanioBorde $tipoLinea;
}
