@import "variables";
@import "minins";

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: $grisPrimario2;
  font-family: $fuente;
  color: $fuenteGris;
  height: 100%;
  margin: 0;

  font-size: $tamanio6;
  @media screen and (min-width:600px) {
    font-size: $resolucion1_tamanio6;
  }
  @media screen and (min-width:1024px) {
    font-size: $resolucion2_tamanio6;
  }
  @media screen and (min-width:1280px) {
    font-size: $resolucion3_tamanio6;
  }
}

app-header,
app-profile-vendedor,
app-employee,
app-search,
app-activity-daily,
app-alerts,
app-content-vendedor,
app-navigation-bar,
app-banners,
app-goals,
app-clients,
app-overview,
app-overview-pending-supply,
app-overview-applications,
app-overview-budgets,
app-overview-promotions,
app-overview-with-order,
app-overview-without-order,
app-footer,
app-clock,
app-happy-moments
{
  display: contents;
}

.overview-container{
  display: grid;
  grid-template-rows: 20% 80%;
  background-color: $blancoPrimario;
  color: $fuenteGris;
  @include borderRadius(2px,2px,2px,2px);
}

.overview-header{
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: $grisPrimario3;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  border-bottom: 2px solid $grisPrimario3;
  white-space: nowrap;
  @include borderRadius(2px,2px,0,0);
}

.overview-body{
  grid-row-start: 2;
  grid-row-end: 3;
}

.overview-header .icon{
  grid-column-start: 1;
  grid-column-end: 2;

  height: $tamanio1;
  margin-top: $tamanio4 / 2;
  margin-left: $tamanio4;

  @media screen and (min-width:600px) {
    height: $resolucion1_tamanio1;
    margin-top: $resolucion1_tamanio4 / 2;
    margin-left: $resolucion1_tamanio4;
  }
  @media screen and (min-width:1024px) {
    height: $resolucion2_tamanio1;
    margin-top: $resolucion2_tamanio4 / 2;
    margin-left: $resolucion2_tamanio4;
  }
  @media screen and (min-width:1280px) {
    height: $resolucion3_tamanio1;
    margin-top: $resolucion3_tamanio4 / 2;
    margin-left: $resolucion3_tamanio4;
  }
}

.overview-header .title{
  grid-column-start: 2;
  grid-column-end: 3;
  padding-top: 2%;
  color: $fuenteNegra;

  font-size: $tamanio1;
  @media screen and (min-width:600px) {
    font-size: $resolucion1_tamanio1;
  }
  @media screen and (min-width:1024px) {
    font-size: $resolucion2_tamanio1;
  }
  @media screen and (min-width:1280px) {
    font-size: $resolucion3_tamanio1;
  }
}

.overview-header .count{
  grid-column-start: 3;
  grid-column-end: 4;
  font-weight: bold;
  padding-top: 11%;
  text-align: right;
  padding-right: 20%;

  font-size: $tamanio1;
  @media screen and (min-width:600px) {
    font-size: $resolucion1_tamanio1;
  }
  @media screen and (min-width:1024px) {
    font-size: $resolucion2_tamanio1;
  }
  @media screen and (min-width:1280px) {
    font-size: $resolucion3_tamanio1;
  }
}

.overview-body .ul{
  width: 90%;
  margin: 3% auto;
}

.overview-body .ul .li{
  margin-top: 3%;
  font-size: $tamanio4;
  @media screen and (min-width:600px) {
    font-size: $resolucion1_tamanio4;
  }
  @media screen and (min-width:1024px) {
    font-size: $resolucion2_tamanio4;
  }
  @media screen and (min-width:1280px) {
    font-size: $resolucion3_tamanio4;
  }
}

.overview-body .ul .li .count{
  font-weight: bold;
  color: $fuenteNegra;
  float: left;
  text-align: right;
  width: 10%;
}

.overview-body .ul .li .subject{
  margin-left: 3%;
  width: 90%;
}

.overview-body .ul .li:hover .count,
.overview-body .ul .li:hover .subject{
  font-weight: bold;
  color: $fuenteRoja;
}
