@import "../../../../../sass/variables";

.pendientes-por-surtir{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 11;
  grid-row-end: 14;
}

.overview-container:hover .overview-header{
  border-bottom: 2px solid $pendingSupply;
}

.overview-header .count{
  color: $pendingSupply;
}
