@import "../../../../sass/variables";
@import "../../../../sass/minins";

.barra-navegacion{
  background-color: $blancoPrimario;
  grid-column-start: 4;
  grid-column-end: 9;
  grid-row-start: 3;
  @include borderRadius(2px,2px,2px,2px);
  font-size: $tamanio5;
  @media screen and (min-width:600px) {
    font-size: $resolucion1_tamanio4;
  }
  @media screen and (min-width:1024px) {
    font-size: $resolucion2_tamanio4;
  }
  @media screen and (min-width:1280px) {
    font-size: $resolucion3_tamanio4;
  }
}

.txt-navegacion-gris{
  color: $fuenteGris;
  vertical-align: middle;
  float: left;
  padding-top: .5%;
  padding-left: 1%;
}

.txt-navegacion-negro{
  font-weight: bold;
  color: $fuenteNegra;
  padding-top: .5%;
}
