@import "../../../../../sass/variables";

.sin-pedido{
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 15;
  grid-row-end: 16;
}

.overview-container:hover .overview-header{
  border-bottom: 2px solid $withoutOrder;
}

.overview-header .count{
  color: $withoutOrder;
}
