@import "../../../../sass/variables";

.datos-empleado {
  background-color: $blancoPrimario;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 6;
}

.tverde {
  color: $verdeSecundario;
  border-right: 1px solid $grisPrimario;
  padding-right: 2%;
  text-align: right;
}

.trojo {
  color: $rojoPrimario;
  border-right: 1px solid $grisPrimario;
  padding-right: 2%;
  text-align: right;
}

.datos {
  margin: 2% 0 2% 2%;
}

.ranking {
  background-color: $grisPrimario3;
  color: $negroPrimario;
  display: grid;
  color: $negroPrimario;
  font-size: $resolucion3_tamanio2;
}

.ranking span {
  text-align: center;
}

.photo {

  margin: 0.1% 0.3% 0% 0.1%;
}

.photo img {
  height: $resolucion3_tamanio2 * 5;
  width: $resolucion3_tamanio2 * 5;
}

.info {
  color: $negroPrimario;
  font-size: $resolucion3_tamanio4;
}

.dato {
  color: $negroPrimario;
  font-size: $resolucion3_tamanio5;
}

.titulo {
  color: $grisPrimario;
  font-size: $resolucion3_tamanio2;
}

.tgris {
  color: $grisPrimario;
  padding-left: 2%;
  text-align: left;
}

.vendedor, .tienda {
  color: $grisPrimario;
  padding-right: 2%;
  text-align: right;
}

.region, .pais {
  color: $grisPrimario;
  padding-left: 2%;
  text-align: left;
}

.wtable{
  width: 70%;
}

.tdphoto {
  width: 30%;
}

@media screen and (min-width: 600px) {
  .ranking {
    font-size: $resolucion1_tamanio2;
  }

  .photo img {
    height: $resolucion1_tamanio2 * 5;
    width: $resolucion1_tamanio2 * 5;
  }

  .info {
    color: $negroPrimario;
    font-size: $resolucion1_tamanio4;
  }

  .dato {
    color: $negroPrimario;
    font-size: $resolucion1_tamanio5;
  }

  .titulo {
    color: $grisPrimario;
    font-size: $resolucion1_tamanio2;
  }
}

@media screen and (min-width: 1024px) {
  .ranking {
    font-size: $resolucion2_tamanio2;
  }

  .photo img {
    height: $resolucion2_tamanio2 * 5;
    width: $resolucion2_tamanio2 * 5;
  }

  .info {
    color: $negroPrimario;
    font-size: $resolucion2_tamanio4;
  }

  .dato {
    color: $negroPrimario;
    font-size: $resolucion2_tamanio5;
  }

  .titulo {
    color: $grisPrimario;
    font-size: $resolucion2_tamanio2;
  }
}

@media screen and (min-width: 1280px) {
  .ranking {
    font-size: $resolucion3_tamanio2;
  }

  .photo img {
    height: $resolucion3_tamanio2 * 5;
    width: $resolucion3_tamanio2 * 5;
  }

  .info {
    color: $negroPrimario;
    font-size: $resolucion3_tamanio4;
  }

  .dato {
    color: $negroPrimario;
    font-size: $resolucion3_tamanio5;
  }

  .titulo {
    color: $grisPrimario;
    font-size: $resolucion3_tamanio2;
  }
}
