<div class="datos-empleado">
  <div class="datos">
    <table class="wtable">
    <tr>
      <td class="tdphoto">
        <div class="photo">
          <img src="assets/img/perfil/01.jpg" />
        </div>
      </td>
      <td>
        <div class="info">
          <span class="titulo">Socio Vendedor</span>
        </div>
        <div class="info">
          <span class="dato">Jaime Emmanuel Camacho</span>
        </div>
        <div class="info">
          <span class="dato">Angeles - 187394</span>
        </div>
        <div class="info">
          <span class="titulo">Tienda</span>
        </div>
        <div class="info">
          <span class="dato">2024 Sán Angel</span>
        </div>
      </td>
    </tr>
    </table>
  </div>
  <div class="ranking">
    <span>Mi Ranking</span>
    <table>
      <tr>
        <td class="tverde">3</td>
        <td class="tgris">50</td>
        <td class="trojo">1,000</td>
        <td class="tgris">1,100</td>
      </tr>
      <tr>
        <td class="vendedor">Vendedor</td>
        <td class="region">Región</td>
        <td class="tienda">Tienda</td>
        <td class="pais">País</td>
      </tr>
    </table>
  </div>
</div>
