@import "../../../../../sass/variables";

.mis-solicitudes{
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 11;
  grid-row-end: 14;
}.overview-container:hover .overview-header{
  border-bottom: 2px solid $applications;
}

.overview-header .count{
  color: $applications;
}
