@import "../../../../sass/variables";

.barra-principal {
  background-color: $rojoPrimario;
  grid-column-start: 1;
  grid-column-end: 10;
  display: grid;
  grid-template-columns: 1% 26% 1% 36% 36%;
  grid-template-rows: 25% 50% 25%;
}

.logo {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  height: 100%;
}

.search {
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
  border: none;
  color: $fuenteGris2;
  background-image: url("/assets/img/buscar.svg");
  background-position: center right;
  background-repeat: no-repeat;
}

.links {
  grid-column: 5 / span 1;
  grid-row: 2 / span 1;
  display: grid;
  grid-template-columns: 7.14% 7.14% 7.14% 7.14% 7.14% 7.14% 7.14% 7.14% 7.14% 7.14% 7.14% 7.14% 7.14% 7.18%;
}

.links *{
  height: 100%;
  align-content: center;
}

.link10{
  grid-column: 10 / span 1;
}

.link11{
  grid-column: 11 / span 1;
}

.link12{
  grid-column: 12 / span 1;
}

.link13{
  grid-column: 13 / span 1;
}

.link13 span{
  height: 100%;
  width: 2px;
  background-color: $blancoPrimario;
  float: left;
  margin-left: 50%;
}

.link14{
  grid-column: 14 / span 1;
}
