@import "../../../../sass/variables";

.actividad-diaria {
  background-color: $blancoPrimario;
  @include borderTop($tamanioBorde: 5px);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 12;
}

.letra-titulo {
  padding-top: 5%;
  @include encabezado1($tamanioFuente: $resolucion3_tamanio1);
  padding-left: 5%;
  padding-bottom: 1%;
}

th {
  color: $negroPrimario;
  font-size: $tamanio6;
}

td {
  color: $grisPrimario;
  text-align: center;
  background-color: $grisPrimario3;
  font-weight: bold;
}

tr > td:first-child {
  text-align: left;
  background-color: unset;
  font-weight: unset;
}

table {
  font-size: $tamanio3;
  border-collapse: separate;
  border-spacing: 0 5px;
  margin: 0 auto;
  width: 90%;
}

.encabezado1 {
  width: 60%;
}

.encabezado2,
.encabezado3 {
  width: 20%;
}

@media screen and (min-width: 600px) {
  .actividad-diaria {
    @include borderTop($tamanioBorde: 2.5px);
  }
  .letra-titulo {
    @include encabezado1($tamanioFuente: $resolucion1_tamanio1);
  }
  th {
    font-size: $resolucion1_tamanio6;
  }

  table {
    font-size: $resolucion1_tamanio3;
    border-spacing: 0 2.5px;
  }

  @media screen and (min-width:1024px) {
    .actividad-diaria {
      @include borderTop($tamanioBorde: 4px);
    }
    .letra-titulo {
      @include encabezado1($tamanioFuente: $resolucion2_tamanio1);
    }
    th {
      font-size: $resolucion2_tamanio6;
    }

    table {
      font-size: $resolucion2_tamanio3;
      border-spacing: 0 2.5px;
    }
}
@media screen and (min-width:1280px) {
  .actividad-diaria {
    @include borderTop($tamanioBorde: 5px);
  }
  .letra-titulo {
    @include encabezado1($tamanioFuente: $resolucion3_tamanio1);
  }
  th {
    font-size: $resolucion3_tamanio6;
  }

  table {
    font-size: $resolucion3_tamanio3;
    border-spacing: 0 5px;
  }
}
}
