<div class="actividad-diaria">
  <div>
      <div class="letra-titulo">Actividad del d&iacute;a</div>
    <table>
      <thead>
        <tr>
          <th></th>
          <th colspan="2">Gestiones</th>
        </tr>
        <tr>
          <th class="encabezado1"></th>
          <th class="encabezado2">Hoy</th>
          <th class="encabezado3">Semanal</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Pendientes Por Surtir</td>
          <td>0</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Mis Solicitudes</td>
          <td>1</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Presupuestos</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td>Promociones</td>
          <td>2</td>
          <td>6</td>
        </tr>
        <tr>
          <td>Con Pedido</td>
          <td>1</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Sin Pedido</td>
          <td>3</td>
          <td>3</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>TOTAL</td>
          <td>7</td>
          <td>13</td>
        </tr>
      </tfoot>
    </table>
  </div>
